# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# environment variables (NEVER commit - contains Supabase & Cashfree keys)
.env
.env*.local
.env.production

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
next-env.d.ts

# vercel
.vercel

# testing
/coverage

*.err
tsconfig.tsbuildinfo
